.atom/*
.config/*
.config/yarn/link
.config/yarn/global/node_modules

# whitelist
!.atom/config.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/snippets.cson
!.atom/styles.less
!.config/git
!.config/yarn
