.atom/*
.config/*
.config/fish/functions/fisher.fish
.config/fish/completions/fisher.fish
.config/fish/fish_variables
.config/fish/fishd.*
.config/yarn/link
.config/yarn/global/node_modules
.vim/.netrwhist
.vscode/extensions
vscode/User/workspaceStorage
vscode/User/globalStorage

# whitelist
!.atom/config.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/snippets.cson
!.atom/styles.less
!.config/git
!.config/yarn
!.config/fish/
!.config/rubocop
