"*":
  "atom-beautify":
    java: {}
  "autocomplete-paths":
    maxFileCount: 20000
  "autocomplete-ruby":
    rsensePath: "/Users/user/.anyenv/envs/rbenv/shims/rsense"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "autocomplete-paths"
    ]
    packagesWithKeymapsDisabled: [
      "intentions"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "34efced2-ecb2-4c4c-954f-87d80cafd46f"
  "linter-eslint":
    global:
      useGlobalEslint: true
  "linter-rubocop":
    command: "/Users/user/.anyenv/envs/rbenv/versions/2.5.1/bin/rubocop"
  "linter-ui-default": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0359e3"
      zBright: {}
    customTexts: {}
    iconColors: {}
    style:
      defaultPanelHeight: "200px"
      fontSize: "16"
      theme: "pro"
  "rubocop-auto-correct":
    onlyFixesNotification: false
    rubocopCommandPath: "/Users/user/.anyenv/envs/rbenv/versions/2.5.1/bin/rubocop"
  "spell-check":
    useLocales: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  "file-types":
    gs: "source.js"
